@font-face {
	font-family: Infinity;
	src: url(Infinity.ttf);
}

@font-face {
	font-family: Fabrica;
	src: url(Fabrica.otf);
}

@font-face {
	font-family: Raleway;
	src: url(Fabrica.otf);
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 32px;
	font-family: "Fabrica", Arial, sans-serif;
	color: #333;
	background-color: #F7F6F2;
}

pre {
	margin: 0;
	display: inline-block;
	font-family: inherit;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #94BAFF;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #7DABFF;
}

::-webkit-scrollbar-thumb:active {
	background-color: #699EFF;
}

p {
	margin-top: 0;
	padding-top: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

.center {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}

.small {
	font-size: 20px;
	line-height: 50px;
	vertical-align: top;
}

.right {
	float: right;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #F7F6F2 inset;
}
