#viz-container {
	width: calc(80% - 102px);
	height: 100vh;
	position: fixed;
}

.node {
	cursor: pointer;
	stroke: #7DABFF;
	stroke-width: 50px;
}

.node text {
	pointer-events: none;
	font-size: 12px;
	fill: #333;
	stroke-width: 0px;
}

.link {
	stroke: #666;
	stroke-linecap: round;
}
